@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Titillium+Web:wght@300&display=swap");
header {
  margin: 0;
  background-color: rgb(78, 205, 196);
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: black;
  }
}
header div .logo {
  flex-grow: 1;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  header div .logo {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  header div {
    align-self: center;
  }
}
header .navheader {
  flex-grow: 2;
  height: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  header .navheader {
    display: none;
  }
}
header .navheader ul {
  margin: 0;
  padding: 0;
  height: 100%;
  text-decoration: none;
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
header .navheader ul li a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 2100px) and (min-width: 768px) {
  header .navmobile {
    display: none;
  }
}

footer {
  background-color: rgb(78, 205, 196);
  color: white;
  width: 100%;
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "seguinos mapa . logo";
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  footer {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "seguinos mapa logo";
  }
}
footer .red {
  grid-area: seguinos;
}
footer .red .titulored {
  font-size: font-size 1.5rem;
  padding-left: 15px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  footer .red .titulored {
    margin: 0;
    font-size: 1rem;
  }
}
footer .red .iglogo {
  height: 50px;
  width: 50px;
  padding-left: 15px;
}
footer .red .twlogo {
  height: 50px;
  width: 50px;
  padding-left: 15px;
}
footer .mapa {
  grid-area: mapa;
}
footer .mapa .titulomapa {
  font-size: font-size 1.5rem;
  color: white;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  footer .mapa .titulomapa {
    margin: 0;
    font-size: 1rem;
  }
}
footer .mapa .mapalogo {
  height: 50px;
  width: 50px;
}
footer .logo {
  grid-area: logo;
  width: 100%;
}
footer .logo .log {
  height: 70px;
  width: 70px;
}

.mainhome {
  height: 100%;
  width: 100%;
  grid-area: mainhome;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainhome .carousel .carousel-inner .carousel-item {
    padding: 0;
  }
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainhome .carousel .carousel-inner .carousel-item .carousel-caption {
    font-size: 0.7rem;
    color: white;
    background-color: rgba(128, 128, 128, 0.397);
  }
}
.mainhome .horagrilla {
  grid-area: grilla;
  padding-bottom: 25px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainhome .horagrilla {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.mainhome .horagrilla #horario {
  margin-top: 25px;
  margin-left: 50px;
}
.mainhome .horagrilla #horario #grilla {
  height: 200px;
  width: 300px;
  justify-self: center;
}

.maincontacto {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
.maincontacto legend {
  color: white;
  font-size: 2rem;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .maincontacto legend {
    color: black;
    font-size: 1.7rem;
  }
}
.maincontacto .formu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.maincontacto .formu .nombre {
  width: 500px;
  height: 50px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-style: inherit;
  border-radius: 5px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .maincontacto .formu .nombre {
    width: 350px;
    height: 40px;
  }
}
.maincontacto .formu .mail {
  width: 500px;
  height: 50px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-style: inherit;
  border-radius: 5px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .maincontacto .formu .mail {
    width: 350px;
    height: 40px;
  }
}
.maincontacto .formu .textoformu {
  width: 500px;
  height: 200px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-style: inherit;
  border-radius: 5px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .maincontacto .formu .textoformu {
    width: 350px;
    height: 200px;
  }
}
.maincontacto .formu #opciones {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
  color: rgb(82, 82, 82);
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .maincontacto .formu #opciones {
    width: 350px;
    height: 40px;
  }
}
.maincontacto .formu #opciones .opcionesropa {
  background-color: rgba(78, 205, 196, 0.5);
}
.maincontacto .formu .btnenviar {
  margin-bottom: 50px;
}

.mainosotros {
  box-sizing: border-box;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.mainosotros .nos {
  margin: 0;
  padding-bottom: 25px;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 2fr, 2fr;
  grid-template-areas: "titulos titulos" "img nosotros1" "nosotros2 video";
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainosotros .nos {
    display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.mainosotros .nos .titulo {
  padding-left: 25px;
  padding-bottom: 25px;
  grid-area: titulos;
  font-size: font-size 1.5rem;
}
.mainosotros .nos .nosotros1 {
  grid-area: nosotros1;
  text-align: justify;
  display: flex;
  flex-flow: row, wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 50px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainosotros .nos .nosotros1 {
    font-size: 1rem;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
  }
  .mainosotros .nos .nosotros1 p {
    margin: 0;
  }
}
.mainosotros .nos .nosotros2 {
  grid-area: nosotros2;
  text-align: justify;
  padding-top: 25px;
  display: flex;
  flex-flow: row, wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-right: 20px;
  padding-left: 50px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainosotros .nos .nosotros2 {
    font-size: 1rem;
    margin: 0;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
  }
  .mainosotros .nos .nosotros2 p {
    margin: 0;
  }
}
.mainosotros .nos .imgnos {
  grid-area: img;
  height: 500px;
  width: 700px;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainosotros .nos .imgnos {
    height: 300px;
    width: 400px;
  }
}
.mainosotros .nos .videonos {
  grid-area: video;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainosotros .nos .videonos {
    height: 215px;
    width: 360px;
  }
}

.mainprecio {
  display: grid;
  grid-template-rows: 1fr, 2fr, 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "titulo . ." "packs packs packs" ". reserva .";
  padding-bottom: 50px;
}
.mainprecio #titulopack {
  grid-area: titulo;
  font-size: font-size 1.5rem;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.mainprecio .packs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-area: packs;
}
.mainprecio .packs .precios .desc {
  width: 300px;
  height: 400px;
  transition: transform 2s ease;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainprecio .packs .precios .desc {
    margin-bottom: 25px;
  }
}
.mainprecio .packs .precios .desc:hover {
  transform: scale(1.1, 1.1);
}
.mainprecio .reserva {
  grid-area: reserva;
  text-align: center;
  padding-top: 25px;
  font-size: 1rem;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .mainprecio .reserva a {
    color: black;
    font-style: italic;
  }
}
.mainprecio .reserva a:hover {
  color: aquamarine;
}

.tituloprod {
  font-size: font-size 1.5rem;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}
.productos .card-body {
  background-color: rgba(78, 205, 197, 0.6);
}
.productos .card {
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  .productos .card {
    margin-bottom: 25px;
  }
}
.productos .card .card-text {
  font-size: 0.9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HOME */
body {
  height: 100vh;
  font-family: "Titillium Web", sans-serif;
  background-color: rgb(26, 83, 92);
  color: white;
}
@media screen and (max-width: 768px) and (min-width: 280px) {
  body {
    background-color: rgb(26, 83, 92);
    color: black;
  }
}

.homebody {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 2fr, 1fr;
  grid-template-areas: "header header" "mainhome mainhome" "footer footer";
}

a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
