@import "./modulos/mediaqueries";
@import "./modulos/variable";
@import "./modulos/header";
@import "./modulos/footer";
@import "./modulos/main";
@import "./modulos/contacto";
@import "./modulos/nosotros";
@import "./modulos/precios";
@import "./modulos/productos";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Titillium+Web:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HOME */
body{
    height: 100vh;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(26, 83, 92);
    color: white;
}

.homebody{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-template-areas:
    "header header"
    "mainhome mainhome"
    "footer footer";
}

a{
    text-decoration: none;
    color: white;
}
.sticky{
    position: sticky;
}

.home{
    background-color:  rgb(83, 144, 217);
    color: white;
}

@media (max-width: 768px) and (min-width: 320px) {
    .header{
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       background-color: black;
       div{
        .logo{
            display: flex;
            justify-items: center;
        }
       }
    }
    .footer{
        background-color: black;

    }
}

