.maincontacto{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    legend{
        color: white;
        font-size: 2rem;
        padding-top: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
    }
    .formu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
        .nombre{
            width: 500px;
            height: 50px;
            margin-bottom: 15px;
            background-color: rgb(255, 255, 255, 40%);
            border-style: inherit;
            border-radius: 5px;

        }
        .mail{
            width: 500px;
            height: 50px;
            margin-bottom: 15px;
            background-color: rgb(255, 255, 255, 40%);
            border-style: inherit;
            border-radius: 5px;
        }
        .textoformu{
            width: 500px;
            height: 200px;
            margin-bottom: 15px;
            background-color: rgb(255, 255, 255, 40%);
            border-style: inherit;
            border-radius: 5px;
        }
        #opciones{
            width: 500px;
            background-color: rgb(255, 255, 255, 40%);
            margin-bottom: 15px;
        }
        .btnenviar{
            margin-bottom: 50px;
        }
    }
}