.maincontacto{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    legend{
        color: white;
        font-size: 2rem;
        padding-top: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
        @include mobile{
            color: black;
            font-size: 1.7rem;
        }
    }
    .formu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
        .nombre{
            width: 500px;
            height: 50px;
            margin-bottom: 15px;
            background-color: rgb(255, 255, 255, 40%);
            border-style: inherit;
            border-radius: 5px;
            @include mobile {
                width: 350px;
                height: 40px;
            }

        }
        .mail{
            width: 500px;
            height: 50px;
            margin-bottom: 15px;
            background-color: rgb(255, 255, 255, 40%);
            border-style: inherit;
            border-radius: 5px;
            @include mobile {
                width: 350px;
                height: 40px;
            }
        }
        .textoformu{
            width: 500px;
            height: 200px;
            margin-bottom: 15px;
            background-color: rgb(255, 255, 255, 40%);
            border-style: inherit;
            border-radius: 5px;
            @include mobile {
                width: 350px;
                height: 200px;
            }
        }
        #opciones{
            width: 500px;
            background-color: rgba(255, 255, 255, 40%);
            margin-bottom: 15px;
            @include mobile {
                width: 350px;
                height: 40px;
            }
            .opcionesropa{
                background-color: rgba(78, 205, 196, 50%);
            }
        }
        .btnenviar{
            margin-bottom: 50px;
        }
    }
}