footer{
    background-color:  rgb( 78, 205, 196);
    color: white;
    width: 100%;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "seguinos mapa . logo";
    @include mobile{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "seguinos mapa logo";
    }
    .red{
        grid-area: seguinos;
        .titulored{
            font-size: $tamañofuente;
            padding-left: 15px;
            @include mobile{
                margin: 0;
                font-size: 1rem;
            }
        }
        .iglogo{
            height: 50px;
            width: 50px;
            padding-left: 15px;
        }
        .twlogo{
            height: 50px;
            width: 50px;
            padding-left: 15px;
        }
    }
    .mapa{
        grid-area: mapa;
        .titulomapa{
            font-size: $tamañofuente;
            color: white;
            @include mobile{
                margin: 0;
                font-size: 1rem;
            }
        }
        .mapalogo{
            height: 50px;
            width: 50px;
        }
    }
    .logo{
        grid-area: logo;
        width: 100%;
        .log{
            height: 70px;
            width: 70px;
        }
    }
}