.mainhome{
    height: 100%;
    width: 100%;
    grid-area: mainhome;
    .horagrilla{
        grid-area: grilla;
        padding-bottom: 25px;
        #horario{
            margin-top: 25px;
            margin-left: 50px;
            #grilla{
                height: 500px;
                width: 700;
                color: white;
            }
        }
    }
}