.mainosotros{
    box-sizing: border-box;
    @include mobile{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .nos{
        margin: 0;
        padding-bottom: 25px;
        padding-top: 25px;
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr, 2fr, 2fr;
        grid-template-areas:
        "titulos titulos"
        "img nosotros1"
        "nosotros2 video";
        @include mobile{
            display: block;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        .titulo{
            padding-left: 25px;
            padding-bottom: 25px;
            grid-area: titulos;
            font-size: $tamañofuente;
        }
        .nosotros1{
            grid-area: nosotros1;
            text-align: justify;
            display: flex;
            flex-flow: row, wrap;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            padding-right: 50px;
            padding-left: 20px;
            @include mobile{
                font-size: 1rem;
                margin: 0;
                padding-right: 10px;
                padding-left: 10px;
                p{
                    margin: 0;
                }
            }
        }
        .nosotros2{
            grid-area: nosotros2;
            text-align: justify;
            padding-top: 25px;
            display: flex;
            flex-flow: row, wrap;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding-right: 20px;
            padding-left: 50px;
            @include mobile{
                font-size: 1rem;
                margin: 0;
                padding-top: 25px;
                padding-right: 10px;
                padding-left: 10px;
                p{
                    margin: 0;
                } 
            }
        }
        .imgnos{
            grid-area: img;
            height: 500px;
            width: 700px;
            border-radius: 5px;
            align-self: center;
            justify-self: center;
            @include mobile{
                height: 200px;
                width: 300px;
            }
        }
        .videonos{
            grid-area: video;
            border-radius: 5px;
            align-self: center;
            justify-self: center;
            @include mobile{
                height: 215px;
                width: 360px;
            }
        }
    }
}