.mainprecio{
    display: grid;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "titulo . ."
    "packs packs packs"
    ". reserva .";
    padding-bottom: 50px;
    #titulopack{
        grid-area: titulo;
        font-size: $tamañofuente;
        padding-left: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .packs{
        @include flexpacks;
        .precios {
            .desc{
                width: 300px;
                height: 400px;
                transition: transform 2s ease;
            }
            .desc:hover{
                transform: scale(1.1,1.1);
            }
        }
        
    }
   .reserva{
        grid-area: reserva;
        text-align: center;
        padding-top: 25px;
        font-size: 1rem;
        a {
            @include mobile {
                color: black;
                font-style: italic;
            }
        }
        a:hover{
            color: aquamarine;
        }
   }
}