$tamañofuente: font-size (1.5rem);
$links: text-decoration (none);

@mixin flexpacks{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: packs;
}